body {
	font: normal 12px 'Source Sans Pro', sans-serif;
}
fieldset {
	width: 250px;
	display: block;
	margin: 0 auto;
}

fieldset div {
	padding-left: 20px;
}
.customCheckOrig, .customRadioOrig {
	opacity: 0;
    filter: alpha(opacity=0);
    margin-left: -20px;
    width: 19px;
    height: 17px;
}
.customCheck, .customRadio {
	background: url(ckrd.png) no-repeat -34px -33px;/* default check state */
	width: 5px;
	height: 7px;
	padding: 5px 7px;
	display: inline-block;
    _padding: 3px 7px 0;
}
* html {
    filter: expression(document.execCommand("BackgroundImageCache", false, true)); /* IE6 Bg flickering fix */
}
.customRadio {
	background-position: -34px -62px;/* default radio state */
}
.hoverchk {
	background-position: -9px -33px;/* checkbox:hover state */
}
.hoverrd {
	background-position: -9px -62px;/* radio:hover state */
}
.chk {
	background-position: -109px -3px;/* checkbox:checked state */
}
.chkrd {
	background-position: -109px -62px;/* radio:checked state */
}
.hoverchkon {
	background-position: -84px -3px;/* checkbox:checked:hover state */
}
.hoverrdon {
	background-position: -84px -62px;/* radio:checked:hover; state */
}
.checkboxdisabled {
	background-position: -59px -33px;/* checkbox:disabled */
}
.checkeddisabled {
	background-position: -134px -3px;/* checkbox:checked:disabled */
}
.radiodisabled {
	background-position: -59px -62px;/* radio:disabled */
}
.radiocheckeddisabled {
	background-position: -134px -62px;/* radio:checked:disabled */	
}